NodeRed/flows-2.json
[{"id":"65eb40620178e0aa","type":"tab","label":"Dynamic QRCode Factory","disabled":false,"info":""},{"id":"4985fbf2a0a40d81","type":"comment","z":"65eb40620178e0aa","name":"Help Set Data","info":"Push to set the /myRootTest/currentTime as the current time in the collection Test","x":110,"y":420,"wires":[]},{"id":"6541589acdc046ea","type":"function","z":"65eb40620178e0aa","name":"lookup qr","func":"var object ={};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat  = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name); \n//msg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/mapping\";\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\n\nconsole.log(msg.datapath); \nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":540,"wires":[["62828b5a6b343cd3"]]},{"id":"08143184b402ed45","type":"http response","z":"65eb40620178e0aa","name":"","statusCode":"","headers":{},"x":570,"y":700,"wires":[]},{"id":"82adea9301a0dac8","type":"function","z":"65eb40620178e0aa","name":"build web page","func":"\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\nconsole.log(\"CAT =\" + o_cat);\nconsole.log(\"NAME=\" + o_name);\nconsole.log(\"UUID=\" + JSON.stringify(o_uuid));\n\nvar webpage = msg.payload;\nconsole.log(\"Webpage = \" + JSON.stringify(webpage));\nwebpage = webpage.mapping;\nif (msg.error)\n{\n    webpage = \n    \"https://KnowledgeShark.me/images/UnknownQRCode.jpeg\";\n}\nif (webpage)\n{\n    //return on 2nd output\n    //msg.url = webpage;\n    msg.payload = webpage;\n    //return [null,msg];\n    msg.headers = {\n       \"Content-Type\":\"text/html\",\n       \"Location\": webpage\n    };\n    msg.statusCode = 307;\n    msg.url = webpage;\n\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":660,"wires":[["08143184b402ed45"]]},{"id":"0d5774157ea61124","type":"template","z":"65eb40620178e0aa","name":"return web page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Training QRAvatar Successful</h1>\n<h2>{{payload}}</h2>\n\nsee <a href=\"https://QRAvatar.me\">QRAvatar.me</a>\n    </body>\n</html>","output":"str","x":520,"y":200,"wires":[["f0e3b4ed10d3dad8"]]},{"id":"6935100e1d95928e","type":"comment","z":"65eb40620178e0aa","name":"3 parms parsed","info":"","x":120,"y":500,"wires":[]},{"id":"f0e3b4ed10d3dad8","type":"http response","z":"65eb40620178e0aa","name":"","statusCode":"","headers":{},"x":690,"y":200,"wires":[]},{"id":"82596fa031717009","type":"function","z":"65eb40620178e0aa","name":"Send #trainMe on message bus","func":"var object ={};\n//see https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_replace2\nvar o_cat = msg.req.params.CATEGORY;\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_mapping  = msg.req.params.MAPPING;\n//o_cat = o_cat.toLowerCase();\n// until can get escapes or something working..\n// might have to be special characters, that are replaced..\n//Special Character: |  ==> |\no_mapping = o_mapping.replace(/\\|/g,\"/\");\nvar web = flow.get(\"_hostnameURL\") + \"/qr\"; //\"http://localhost:1880/qr\";\n//! send a JSON like message:\nvar message = \"#trainMe {\" + web + \"/\" + o_cat + \"/\" + o_name + \"/\" + o_uuid + \", \" + o_mapping + \"}\";\nmsg.payload= message;\nconsole.log(message);\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":200,"wires":[["0d5774157ea61124"]]},{"id":"a8a13b3ea882fd9e","type":"http in","z":"65eb40620178e0aa","name":"","url":"/exists/qr/:username/:password/:CATEGORY/:NAME/:UUID","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":950,"y":520,"wires":[["78d6d6eaab9678a2"]]},{"id":"78d6d6eaab9678a2","type":"function","z":"65eb40620178e0aa","name":"lookup QR if exists or not","func":"var object ={};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat  = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name); \n//msg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/mapping\";\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\n////\nconsole.log(msg.datapath); \nconsole.log(\"looking to see if QR exists\");\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":560,"wires":[["05e739b9ca39d985"]]},{"id":"08567da25c6a2c04","type":"function","z":"65eb40620178e0aa","name":"Build web page for whether it exists","func":"var webpage = msg.payload;\nif (msg.error)\n{\n    //doesn't exist\n    webpage = \n    \"https://KnowledgeShark.me/images/UnknownQRCode.jpeg\";\n}\nelse\n{\n  //DOES exist, return QRExists.html with\n    webpage = \n    \"https://KnowledgeShark.me/images/QRExists.jpeg\";\n  \n}\nif (webpage)\n{\n    //return on 2nd output\n    //msg.url = webpage;\n    msg.payload = webpage;\n    //return [null,msg];\n    msg.headers = {\n       \"Content-Type\":\"text/html\",\n       \"Location\": webpage\n    };\n    msg.statusCode = 307;\n    msg.url = webpage;\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":680,"wires":[["fd4aa6aef86c2d5e"]]},{"id":"fd4aa6aef86c2d5e","type":"http response","z":"65eb40620178e0aa","name":"","statusCode":"","headers":{},"x":1430,"y":680,"wires":[]},{"id":"1ab7c09fa763c3b6","type":"function","z":"65eb40620178e0aa","name":"lookup QR if exists or not.2","func":"var object ={};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat  = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name); \n//create the database lookup \"/name_uuid/mapping\"\n//msg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/mapping\";\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\n\nconsole.log(msg.datapath); \nconsole.log(\"looking to see if QR exists\");\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":220,"wires":[["f133f5264bb19cde"]]},{"id":"24b310ad4a500048","type":"function","z":"65eb40620178e0aa","name":"Build Web Page for Lookup","func":"\n//The msg.payload == Action (web access after lookup)\nvar webpageAction = msg.payload;\nif (msg.error)\n{\n    //doesn't exist\n    webpageAction = \"UNKNOWN SemanticMarker\";\n}\n\n//var object ={};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat  = msg.req.params.CATEGORY;\n\n//NOTE: This page is here since the lookup needs to occur...\n//BUT How to let the caller on \"/exists\" get this info... or is this a JSON reply?\n// eg. {category=c ...} so the caller can parse this???\n\n//perform lookup (TODO)  - the Action of SemanticMarker\n//var webAddress = \"https://KnowledgeShark.me\";\n\n\n//o_cat = o_cat.toLowerCase();\n//console.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name); \n//var webpage = \"<h1>\" + o_uuid + \"</h1>\" + \"<a href='\" + webAddress + \"'>\" + webAddress + \"</a>\";\nconsole.log(msg.payload);\n\n//If webpage == null, then the result is an Image..\nconsole.log(\"CAT =\" + o_cat);\nconsole.log(\"NAME=\" + o_name);\nconsole.log(\"UUID=\" + o_uuid);\n\n//! grab from object  \nconsole.log(\"date=\" + msg.payload.date);\nconsole.log(\"mapping=\" + msg.payload.mapping);\n\nconsole.log(\"Action=\" + webpageAction);\n//console.log(\"URL=\" + webpage);\n//console.log(\"object=\" + object);\n\n//msg.payload = object;\nmsg.action = webpageAction; //the SemanticMarker's action\nmsg.category = o_cat;\nmsg.name = o_name;\nmsg.uuid = o_uuid;\n\n//! grab the global flow._hostnameURL\nvar dynamicFactoryURL = flow.get(\"_hostnameURL\");\n//! pass to mustache \nmsg.jsonformat = {\n    \"category\" : o_cat,\n    \"name\": o_name,\n    \"uuid\": o_uuid,\n    \"mapping\": msg.payload.mapping,\n    \"ownerIP\": msg.payload.ownerIP,\n    \"date\": msg.payload.date,\n    \"qrcode\": msg.payload.qrcode,\n    \"imageURL\":msg.payload.imageURL,\n    \"hostnameURL\": dynamicFactoryURL\n};\n\n// console.log(\"MSG PAYLOAD = \");\n// console.log(msg);\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":340,"wires":[["bf35836970376a6a"]]},{"id":"b9f682e9e17668e9","type":"http in","z":"65eb40620178e0aa","name":"","url":"/lookup/qr/:CATEGORY/:NAME/:UUID","method":"get","upload":false,"swaggerDoc":"","x":980,"y":160,"wires":[["1ab7c09fa763c3b6"]]},{"id":"a78ade4bfc031029","type":"http response","z":"65eb40620178e0aa","name":"","statusCode":"","headers":{},"x":1270,"y":460,"wires":[]},{"id":"bf35836970376a6a","type":"template","z":"65eb40620178e0aa","name":"HTML output","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\"\n        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\" lang=\"en\">\n  <head>\n<title>SemanticMarker&reg;</title>\n\n<link rel=\"SHORTCUT ICON\" href=\"https://SemanticMarker.org/SemanticMarkerSmall.png\" type=\"image/x-icon\" />\n<style>\n/* https://www.w3schools.com/css/css_tooltip.asp */\n.tooltip .tooltiptext {\n  top: -5px;\n  left: 105%;\n}\n\n/* Tooltip container */\n.tooltip {\n  position: relative;\n  display: inline-block;\n}\n\n/* Tooltip text */\n.tooltip .tooltiptext {\n  visibility: hidden;\n  width: 160px;\n  background-color: black;\n  color: #fff;\n  text-align: center;\n  padding: 5px 0;\n  border-radius: 6px;\n\n  /* Position the tooltip text - see examples below! */\n  position: absolute;\n  z-index: 1;\n}\n\n/* Show the tooltip text when you mouse over the tooltip container */\n.tooltip:hover .tooltiptext {\n  visibility: visible;\n}\n\n</style>\n<style>\n\n   a.demo_img {\n      display: block;\n      width:400px;\n      position:relative;\n      line-height:25px;\n   }\n\n   a.demo_img>div {\n      position:absolute;\n      padding:0;\n      margin:0;\n      zoom:0.25;\n      left: 140px; /* change this value to one that works best for you */\n      top: 100px; /* change this value to one that works best for you */\n      background: transparent url(files/arrow-down-grey.png) left 23px no-repeat;\n      margin-left: 24px;\n      opacity:0;\n      height: 0;\n      overflow: hidden;\n\n      /* Enable transitions */\n      /*-webkit-transition: all .3s ease .15s;\n      -moz-transition: all .3s ease .15s;\n      -o-transition: all .3s ease .15s;\n      -ms-transition: all .3s ease .15s;\n      transition: all .3s ease .15s;*/\n   }\n\n   a.demo_img>div img {\n      padding:8px;\n      margin-left:4px;\n      border:1px solid #BCBDC0;\n      background-color:#BCBDC0;\n      -webkit-border-radius: 5px;\n            -moz-border-radius: 5px;\n            border-radius: 5px;\n\n      -webkit-box-sizing:border-box;\n         -moz-box-sizing:border-box;\n            box-sizing:border-box;\n   }\n   a.demo_img:hover>div {\n\n      opacity:1;\n      height: 800px;\n      padding: 8px;\n\n      z-index:1;\n   }\n\n</style>\n<style>\n\n/* gradient source: https://uigradients.com/#Wiretap */\n/* decreased transparency to 80% */\n.highlight {\n  //background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);\n  border-radius: 6px;\n  border: 2px solid black;\n  padding: 3px 6px;\n  font-size: 68px;\n}\n\n\n.button {\n  background-color: #33FFFF;\n  color: black;\n  font-size: 18px;\n  border: 2px solid #4CAF50;\n  border-radius:12px;\n\n}\n\n.button:hover {\n  background-color: lightblue;\n   font-size: 18px;\n  color: white;\n}\n\n.HELPButton {\n  background-color: lightgreen;\n  color: black;\n  font-size: 18px;\n  border: 2px solid #4CAF50;\n  border-radius:12px;\n\n}\n\n.HELPButton:hover {\n  background-color: green;\n   font-size: 18px;\n  color: white;\n}\n\n.TextWrap {\n float: left;\n margin: 10px;\n}\n\n\n/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_link_more2 */\na.ex2:hover, a.ex2:active {font-size: 110%;}\na.ex3:hover, a.ex3:active {font-size: 120%;}\n\n.sansserif {\n  /*font-family: Arial, Helvetica, sans-serif; */\n  font-family: \"Trebuchet MS\", Helvetica, sans-serif;\n}\n\n\n.collapsible {\n  background-color: black; /*#777;*/\n  color: white;\n  cursor: pointer;\n  padding: 18px;\n  width: 65%;\n  border: none;\n  text-align: left;\n  outline-style: solid;\n  outline-color: white;\n  font-size: 15px;\n  font-family: \"Trebuchet MS\", Helvetica, sans-serif;\n}\n\n/* when done, and is not collapsed, keep black */\n.active:hover {\n  background-color: black;\n}\n/* hover as a grey */\n.collapsible:hover {\n  background-color: #555;\n}\n\n/* Plus/Minus label */\n.collapsible:after {\n  content: '\\002B';\n  color: white;\n  font-weight: bold;\n  float: right;\n  margin-left: 5px;\n}\n\n/* Plus/Minus label */\n.active:after {\n  content: \"\\2212\";\n}\n\n/* the content off white */\n.content {\n  padding: 0 10px; /*was 18*/\n  max-height: 0;\n  width: 60%;\n  overflow: hidden;\n  transition: max-height 0.2s ease-out;\n  background-color:#f1f1f1;\n}\n\n\n\n/* https://www.w3schools.com/css/css_link.asp */\n/* unvisited link */\na:link {\n  color: blue;\n}\n\n/* visited link */\na:visited {\n  color: blue;\n}\n\n/* mouse over link */\na:hover {\n  color: blue;\n}\n\n/* selected link */\na:active {\n  color: blue;\n}\na:link {\n  text-decoration: none;\n}\n\na:visited {\n  text-decoration: none;\n}\n\na:hover {\n  text-decoration: underline;\n}\n\na:active {\n  text-decoration: underline;\n}\n\n.psmall  {\n  font-size:12px;\n}\n\n</style>\n\n\n<script src=\"https://SemanticMarker.org/SemanticMarker.js?v=1\"></script>\n<script>\n//!create a semantic marker, and place at the idSM location\nfunction createSemanticMarkerPath(commandPath, avatarURL, idSM, idLabel, argCircularValueId)\n{\n   //var circular = document.getElementById('boolArgValueCircular').value==\"on\";\n   var circular = document.getElementById(argCircularValueId).value==\"on\";\n\n   //avatar URL\n   //var url = document.getElementById(idSemanticMarkerImageURL).value;\n\n   //no avatarURL so use iDogWatch\n   if (!avatarURL || avatarURL.length==0)\n   {\n      window.alert(\"A custom QRAvatarURL is needed to physically distinguish among your new Semantic Marker\\u2122 collection\");\n      return;\n     //hard wire for now..\n     //avatarURL = \"https://idogwatch.com/pettutor/iDogWatch.png\";\n   }\n\n   //empty the id first..\n   var previousSM = document.getElementById(idSM);\n   //Seems that the call is adding a new SM instead of cleaning it up..\n   document.getElementById(idSM).value = \"\";\n   //document.getElementById(idSM).html = \"<p>x</p>\";\n   document.getElementById(idSM).html = \"<p >x</p>\";\n\n   document.getElementById(idSM).innerHTML = \"\";\n\n   console.log(idSM);\n   console.log(document.getElementById(idSM));\n\n   //! fix bug: https://itecnote.com/tecnote/javascript-qrcode-js-error-code-length-overflow-17161056/\n   if (commandPath.length >= 192 && commandPath.length <= 220)\n   {\n      commandPath = commandPath + \"&filler=\";\n\n      // pad to greater thatn 220\n      var len = commandPath.length;\n      while (commandPath.length <= 220)\n      {\n         commandPath= commandPath + \"x\";\n      }\n   }\n\n   try\n   {\n      getImage(avatarURL).then\n      (\n         function (successurl)\n         {\n\n            var sm = new SemanticMarker(document.getElementById(idSM),\n               commandPath,\n               avatarURL,\n               circular);\n         }).catch (function (errorurl)\n         {\n\n            alert(\"Issue creating Avatar in Semantic Marker&reg; creation: \\n\" + errorurl + \"\\nPlease file bug report\");\n         })\n\n   }\n\ncatch (error)\n   {\n\n      alert(\"Issue with Semantic Marker&reg; creation: \\n\" + error.message + \"\\nPlease file bug report\");\n   }\n\n\n   //innerHTMl needed .. since a <p>\n   document.getElementById(idLabel).innerHTML = commandPath;\n\n\n}\n\n//!create a semantic marker, and place at the idSM location\nfunction createSemanticMarkerPathId(commandPathId, urlId ,idSM, idLabel, argCircularValueId)\n{\n   if (!checkSMAddress(commandPathId))\n      return;\n\n   var commandPath = document.getElementById(commandPathId).value;\n\n   // check the QRAvatar for null, or provide a default.\n   if (!checkQRAvatar(urlId))\n      return;\n\n   var url = document.getElementById(urlId).value;\n   if (!url || url.length==0)\n   {\n      //url = \"https://SemanticMarker.org/images/SM-Circle-R.png\";\n      window.alert(\"A custom AvatarURL is needed to physically distinguish your new Semantic Marker&reg; collection\");\n      return;\n   }\n   createSemanticMarkerPath(commandPath, url ,idSM, idLabel, argCircularValueId);\n}\n\n// a few to pick from\nvar _QRAvatarArray = [ \"https://idogwatch.com/pettutor/iDogWatch.png\",\n                       \"https://KnowledgeShark.me/images/snowLabyrinth.png\",\n                       \"https://KnowledgeShark.me/images/labyrinthICON.jpeg\",\n                       \"https://KnowledgeShark.me/images/labyrinthMT.png\",\n                       \"https://KnowledgeShark.me/images/LacieICON.jpg\",\n                       \"https://KnowledgeShark.me/images/MaggieICON.png\",\n                       \"https://KnowledgeShark.me/images/balloonLabyrinth.jpg\",\n                       \"https://KnowledgeShark.me/images/HowieICON.png\",\n                       \"https://KnowledgeShark.me/images/DukeICON.png\",\n                       \"https://KnowledgeShark.me/images/ScoobyICON.png\" ];\n\n//! returns TRUE if valid (or a default), false otherwise\nfunction checkQRAvatar(avatarURLId)\n{\n\tvar whichQRindex = Math.floor(Math.random() * _QRAvatarArray.length);\n\t//var defaultURL = \"https://idogwatch.com/pettutor/iDogWatch.png\";\n\tvar defaultURL = _QRAvatarArray[whichQRindex];\n\tvar avatarURL = document.getElementById(avatarURLId).value;\n\n\t//no avatarURL so use iDogWatch\n   if (!avatarURL || avatarURL.length==0)\n\t{\n\t\tif (window.confirm(\"A custom AvatarURL is needed to physically \\ndistinguish among your new Semantic Marker\\u2122 collection \\n\\nWould you like a random Avatar? \\n\\n(Reset) to try another random Avatar \\n\\nChange the Avatar Image Kind between Circular and Square as well\"))\n\t\t{\n\t\t  document.getElementById(avatarURLId).value = defaultURL;\n\t\t  return true;\n\t\t}\n\t\telse\n\t\t{\n\t\t  return false;\n\t   }\n\t}\n\treturn true;\n}\n\n//! returns TRUE if valid (or a default), false otherwise\nfunction checkSMAddress(semanticMarkerURLId)\n{\n\tvar defaultURL = \"https://SemanticMarker.org\";\n\tvar semanticMarkerURL = document.getElementById(semanticMarkerURLId).value;\n\n\t//no avatarURL so use iDogWatch\n        if (!semanticMarkerURL || semanticMarkerURL.length==0)\n\t{\n\t\tif (window.confirm(\"A Semantic Marker address is needed\\nWould you like a default Semantic Marker to get an idea on how it works?\"))\n\t\t{\n\t\t  document.getElementById(semanticMarkerURLId).value = defaultURL;\n\t\t  return true;\n\t\t}\n\t\telse\n\t\t{\n\t\t  return false;\n\t   }\n\t}\n\treturn true;\n}\n\n//! grab the QRAvatar first..\n//! http://www.javascriptkit.com/javatutors/javascriptpromises.shtml\nfunction getImage(url)\n{\n    console.log(\"getImage(\" + url + \")\");\n    return new Promise(function(resolve, reject)\n    {\n        var img = new Image()\n        img.onload = function()\n        {\n            console.log(\"image.onload\");\n            resolve(url)\n        }\n        img.onerror = function()\n        {\n            reject(url)\n        }\n        img.src = url\n    })\n}\n\nwindow.onload = function()\n{\n  createSemanticMarkerPathId('_dynamic_semanticMarkerURL','_imageURL','_finalSemanticMarkerImage','semanticMarkerURLId','_boolArgValueCircular');\n\n}\n</script>\n\n\n<html>\n    <head>\n        <title>SemanticMarkers.org Lookup</title>\n    </head>\n    <body>\n        <h1>SemanicMarker key</h1>\n        <ul>\n            <li>Category = {{category}}</li>\n            <li>Name = {{name}}</li>\n            <li>UUID = {{uuid}}</li>\n             <li>date = {{jsonformat.date}}</li>\n            <li>mapping = {{jsonformat.mapping}}</li>\n            <li>imageURL = {{jsonformat.imageURL}}</li>\n            <li>qrcode= {{jsonformat.qrcode}}</li>\n\n            <li>ownerIP = {{jsonformat.ownerIP}}</li>\n         </ul>\n\n<h1>\n<label class=\"label\">SMART Semantic Marker&reg; Address\n</h1>\n<br>\n<br>\n<!-- where QRcode image goes ... -->\n<p style=\"margin-left:100px; margin-right:50px;\" id=\"_finalSemanticMarkerImage\"></p>\n\n<br>\n<!--   Original URL for the DYnamic QR to go to .. -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('SMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices')\" />\n   <span class=\"tooltiptext\">\nSMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices\n   </span>\n</div>\n<label class=\"label\">URL of Final Landing Place {{jsonformat.mapping}}\n\n</label>\n\n<br>\n\n<!--   QRAvatar URL for the DYnamic QR to go to .. -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('URL for your QRAvatar')\" />\n   <span class=\"tooltiptext\">\nURL for your QRAvatar\n   </span>\n</div>\n<label class=\"label\">URL of QRAvatar Image\n<input name=\"_imageURL\" id=\"_imageURL\" size=\"84\" type=\"text\" value={{jsonformat.imageURL}}>\n<br>\n\n<!--   QRAvatar circle or square -->\n<div class=\"tooltip\">\n<input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" onClick=\"alert('Avatar URL customizes your Semantic Marker&reg; \\nhelping you distinguish between your future collection')\" />\n   <span class=\"tooltiptext\">Avatar URL customizes your Semantic Marker</span>\n</div>\n\n<label class=\"label\" for=\"_boolArgValueCircular\">Photo Avatar Image Kind:</label>\n<select class=\"select label\"  name=\"_boolArgValueCircular\" id=\"_boolArgValueCircular\">\n  <option value=\"on\">Circular</option>\n  <option value=\"off\">Square</option>\n</select>\n<br>\n\n\n<!--  Final URL Address -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('SMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices')\" />\n   <span class=\"tooltiptext\">\nSMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices\n   </span>\n</div>\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"copy\" \n\tonClick=\"alert('SMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices')\" />\n   <span class=\"tooltiptext\">\nSMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices\n   </span>\n</div>\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"lookup\" \n\tonClick=\"var runURL = document.getElementById('_dynamic_semanticMarkerURL').value; runURL = runURL.replace('/qr','/lookup/qr'); window.open(runURL,'_blank')\" />\n   <span class=\"tooltiptext\">\nSMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices\n   </span>\n</div>\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"run\" \n\tonClick=\"window.open(document.getElementById('_dynamic_semanticMarkerURL').value)\" />\n   <span class=\"tooltiptext\">\nSMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices\n   </span>\n</div>\n<label class=\"label\">SMART Semantic Marker&reg; Address\n</label>\n<input name=\"_dynamic_semanticMarkerURL\" id=\"_dynamic_semanticMarkerURL\" size=\"84\" readonly type=\"text\"\nvalue=\"{{jsonformat.qrcode}}\">\n\n<br>\n<input type=\"button\" class=\"button\" id=\"createSMAny\" value=\"Create Semantic Marker&reg;\" \nonClick=\"createSemanticMarkerPathId('_dynamic_semanticMarkerURL','_imageURL','_finalSemanticMarkerImage','semanticMarkerURLId','_boolArgValueCircular')\" />\n<br><br>\n\n</div>\n<br>\n</html>\n","output":"str","x":1110,"y":400,"wires":[["a78ade4bfc031029"]]},{"id":"edac5d6b12f92968","type":"http in","z":"65eb40620178e0aa","name":"","url":"/qr/:CATEGORY/:NAME/:UUID","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":160,"y":540,"wires":[["6541589acdc046ea","b0cbfd7f1907c1df"]]},{"id":"9378b7d8ad2a0ab6","type":"comment","z":"65eb40620178e0aa","name":"Add to access array","info":"{ \"date\": date,\n\"ip\":ip}","x":210,"y":680,"wires":[]},{"id":"b0cbfd7f1907c1df","type":"function","z":"65eb40620178e0aa","name":"/full update Access and Count","func":"var object = {};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name);\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\nconsole.log(msg.datapath);\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":720,"wires":[["dadc322e6146dc06"]]},{"id":"da8253f96fd1b835","type":"http in","z":"65eb40620178e0aa","name":"","url":"/retrain/qr/:username/:password/:CATEGORY/:NAME/:UUID/:MAPPING/:IMAGEURL","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":350,"y":1020,"wires":[["1c19aca47b76edbd"]]},{"id":"1c19aca47b76edbd","type":"function","z":"65eb40620178e0aa","name":"get /full","func":"var object = {};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name);\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\nconsole.log(msg.datapath);\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":1100,"wires":[["df22b1ae715a8596"]]},{"id":"cf89d7fdb19d4254","type":"http in","z":"65eb40620178e0aa","name":"","url":"/train2/qr/:username/:password/:CATEGORY/:NAME/:UUID/:MAPPING/:IMAGEURL","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":330,"y":280,"wires":[["7d6d1a25643a6f17","82596fa031717009"]]},{"id":"7d6d1a25643a6f17","type":"function","z":"65eb40620178e0aa","name":"FULL definition","func":"var object ={};\nconsole.log(\" *** hostname = \" + flow.get(\"_hostnameURL\"));\n\n//see https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_replace2\nvar o_cat = msg.req.params.CATEGORY;\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_mapping  = msg.req.params.MAPPING;\n\nvar o_imageURL = msg.req.params.IMAGEURL;\n//o_cat = o_cat.toLowerCase();\n// until can get escapes or something working..\n// might have to be special characters, that are replaced..\n//Special Character: |  ==> |\n\no_mapping = o_mapping.replace(/\\|/g,\"/\");\n\no_imageURL = o_imageURL.replace(/\\|/g, \"/\");\nmsg.payload=  o_mapping;\nconsole.log(o_mapping);\n\nconsole.log(msg.req.ip);\nvar dynamicFactoryURL = flow.get(\"_hostnameURL\"); // \"http://localhost:1880\";\n//! ***** SET THIS TO YOUR FACTORY URL to node-red service\n//! no lowercase ..\nvar finalURL_run = dynamicFactoryURL + \"/qr\" + \"/\" + o_cat + \"/\" + o_name + \"/\" + o_uuid;\n\nmsg.payload=  {\n\"category\":o_cat,\n\"uuid\":o_uuid,\n\"name\":o_name,\n\"mapping\":o_mapping,\n\"date\":new Date(),\n\"ownerIP\":msg.req.ip,\n\"imageURL\":o_imageURL,\n\n\"qrcode\": finalURL_run,\n\n\"count\":\"1\",\n\"access\":[\n    {\"date\":new Date(),\n    \"ip\":msg.req.ip\n    }\n    ]\n};\nconsole.log(msg.payload);\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\n\nconsole.log(msg.datapath);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":340,"wires":[["34c088c7be8935cc"]]},{"id":"cf619b87b86c44ce","type":"http in","z":"65eb40620178e0aa","name":"","url":"/createNewUser/qr/:username/:password/:token","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":300,"y":1260,"wires":[[]]},{"id":"9561b3ea550df046","type":"http in","z":"65eb40620178e0aa","name":"","url":"/qrfactory","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":880,"y":720,"wires":[["b6023db3cfd9f611"]]},{"id":"49d444b22c989ec3","type":"template","z":"65eb40620178e0aa","name":"HTML output","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\"\n        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\" lang=\"en\">\n  <head>\n<title>SemanticMarker&reg;</title>\n\n<link rel=\"SHORTCUT ICON\" href=\"https://SemanticMarker.org/SemanticMarkerSmall.png\" type=\"image/x-icon\" />\n<style>\n/* https://www.w3schools.com/css/css_tooltip.asp */\n.tooltip .tooltiptext {\n  top: -5px;\n  left: 105%;\n}\n\n/* Tooltip container */\n.tooltip {\n  position: relative;\n  display: inline-block;\n}\n\n/* Tooltip text */\n.tooltip .tooltiptext {\n  visibility: hidden;\n  width: 160px;\n  background-color: black;\n  color: #fff;\n  text-align: center;\n  padding: 5px 0;\n  border-radius: 6px;\n\n  /* Position the tooltip text - see examples below! */\n  position: absolute;\n  z-index: 1;\n}\n\n/* Show the tooltip text when you mouse over the tooltip container */\n.tooltip:hover .tooltiptext {\n  visibility: visible;\n}\n\n</style>\n<style>\n\n\ta.demo_img {\n\t\tdisplay: block;\n\t\twidth:400px;\n\t\tposition:relative;\n\t\tline-height:25px;\n\t}\n\t\n\ta.demo_img>div {\n\t\tposition:absolute;\n\t\tpadding:0;\n\t\tmargin:0;\n\t\tzoom:0.25;\n\t\tleft: 140px; /* change this value to one that works best for you */\n\t\ttop: 100px; /* change this value to one that works best for you */\n\t\tbackground: transparent url(files/arrow-down-grey.png) left 23px no-repeat;\n\t\tmargin-left: 24px;\n\t\topacity:0;\n\t\theight: 0;\n\t\toverflow: hidden;\n\t\t\n\t\t/* Enable transitions */\n\t\t/*-webkit-transition: all .3s ease .15s;\n\t\t-moz-transition: all .3s ease .15s;\n\t\t-o-transition: all .3s ease .15s;\n\t\t-ms-transition: all .3s ease .15s;\n\t\ttransition: all .3s ease .15s;*/\n\t}\n\t\n\ta.demo_img>div img {\n\t\tpadding:8px;\n\t\tmargin-left:4px;\n\t\tborder:1px solid #BCBDC0;\n\t\tbackground-color:#BCBDC0;\n\t\t-webkit-border-radius: 5px;\n\t   \t   -moz-border-radius: 5px;\n\t\t    \tborder-radius: 5px;\n\t\t\n\t\t-webkit-box-sizing:border-box; \n\t\t   -moz-box-sizing:border-box; \n\t\t\t\tbox-sizing:border-box;\n\t}\n\ta.demo_img:hover>div {\n\t\t\n\t\topacity:1;\n\t\theight: 800px;\n\t\tpadding: 8px;   \n\t\t\n\t\tz-index:1;\n\t}\n\t\n</style>\n\n<style>\n\n/* gradient source: https://uigradients.com/#Wiretap */\n/* decreased transparency to 80% */\n.highlight {\n  //background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);\n  border-radius: 6px;\n  border: 2px solid black;\n  padding: 3px 6px;\n  font-size: 68px;\n}\n\n\n.button {\n  background-color: #33FFFF;\n  color: black;\n  font-size: 18px;\n  border: 2px solid #4CAF50;\n  border-radius:12px;\n\n}\n\n.button:hover {\n  background-color: lightblue;\n   font-size: 18px;\n  color: white;\n}\n\n.HELPButton {\n  background-color: lightgreen;\n  color: black;\n  font-size: 18px;\n  border: 2px solid #4CAF50;\n  border-radius:12px;\n\n}\n\n.HELPButton:hover {\n  background-color: green;\n   font-size: 18px;\n  color: white;\n}\n\n.TextWrap {\n float: left;\n margin: 10px;\n}\n\n\n/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_link_more2 */\na.ex2:hover, a.ex2:active {font-size: 110%;}\na.ex3:hover, a.ex3:active {font-size: 120%;}\n\n.sansserif {\n  /*font-family: Arial, Helvetica, sans-serif; */\n  font-family: \"Trebuchet MS\", Helvetica, sans-serif;\n}\n\n.collapsible {\n  background-color: black; /*#777;*/\n  color: white;\n  cursor: pointer;\n  padding: 18px;\n  width: 65%;\n  border: none;\n  text-align: left;\n  outline-style: solid;\n  outline-color: white;\n  font-size: 15px;\n  font-family: \"Trebuchet MS\", Helvetica, sans-serif;\n}\n\n/* when done, and is not collapsed, keep black */\n.active:hover {\n  background-color: black;\n}\n/* hover as a grey */\n.collapsible:hover {\n  background-color: #555;\n}\n\n/* Plus/Minus label */\n.collapsible:after {\n  content: '\\002B';\n  color: white;\n  font-weight: bold;\n  float: right;\n  margin-left: 5px;\n}\n\n/* Plus/Minus label */\n.active:after {\n  content: \"\\2212\";\n}\n\n/* the content off white */\n.content {\n  padding: 0 10px; /*was 18*/\n  max-height: 0;\n  width: 60%;\n  overflow: hidden;\n  transition: max-height 0.2s ease-out;\n  background-color:#f1f1f1;\n}\n\n\n\n/* https://www.w3schools.com/css/css_link.asp */\n/* unvisited link */\na:link {\n  color: blue;\n}\n\n/* visited link */\na:visited {\n  color: blue;\n}\n\n/* mouse over link */\na:hover {\n  color: blue;\n}\n\n/* selected link */\na:active {\n  color: blue;\n}\na:link {\n  text-decoration: none;\n}\n\na:visited {\n  text-decoration: none;\n}\n\na:hover {\n  text-decoration: underline;\n}\n\na:active {\n  text-decoration: underline;\n}\n\n.psmall  {\n  font-size:12px;\n}\n\n</style>\n<script>\n\n//! load with the selectOptionId\n//! NOTE: accessing 'device' scope tricky: \n//! https://www.javatpoint.com/javascript-onload\nwindow.onload = function()\n{\n\t//! start with a QR static\n   document.getElementById('_dynamic_semanticMarkerURL').value = document.getElementById('_finalURL').value;\n\tcreateSemanticMarkerPathId('_dynamic_semanticMarkerURL','_imageURL','_finalSemanticMarkerImage','semanticMarkerURLId','_boolArgValueCircular');\n}\n\n//! random between 0 and N\nfunction getRandomInt(max) {\n  return Math.floor(Math.random() * max);\n}\n\n//!strip spaces (THis is wrong.. it only removes the start/end spaces\nfunction stripSpaces(cmd)\n{\n   //cmd = cmd.trim();\n   //! https://stackoverflow.com/questions/5963182/how-to-remove-spaces-from-a-string-using-javascript\n   cmd = cmd.replace(/\\s/g, '');\n   return cmd;\n\n}\n\n// a few to pick from\nvar _QRAvatarArray = [ \n                       \"https://KnowledgeShark.me/images/snowLabyrinth.png\",\n                       \n                       \"https://KnowledgeShark.me/images/balloonLabyrinth.jpg\",\n                       ];\n\n//! returns TRUE if valid (or a default), false otherwise\nfunction checkQRAvatar(avatarURLId)\n{\n\tvar whichQRindex = Math.floor(Math.random() * _QRAvatarArray.length);\n\tvar defaultURL = _QRAvatarArray[whichQRindex];\n\tvar avatarURL = document.getElementById(avatarURLId).value;\n\n\t//no avatarURL so use iDogWatch\n   if (!avatarURL || avatarURL.length==0)\n\t{\n\t\tif (window.confirm(\"A custom AvatarURL is needed to physically \\ndistinguish among your new Semantic Marker\\u2122 collection \\n\\nWould you like a random Avatar? \\n\\n(Reset) to try another random Avatar \\n\\nChange the Avatar Image Kind between Circular and Square as well\"))\n\t\t{\n\t\t  document.getElementById(avatarURLId).value = defaultURL;\n\t\t  return true;\n\t\t}\n\t\telse\n\t\t{\n\t\t  return false;\n\t   }\n\t}\n\treturn true;\n}\n\n//! returns TRUE if valid (or a default), false otherwise\nfunction checkSMAddress(semanticMarkerURLId)\n{\n\tvar defaultURL = \"https://SemanticMarker.org/bot/smart?uuid=xg-Sd7pit29L&flow=1680481930365&flowname=MountainsON\";\n\tvar semanticMarkerURL = document.getElementById(semanticMarkerURLId).value;\n\n\t//no avatarURL so use iDogWatch\n        if (!semanticMarkerURL || semanticMarkerURL.length==0)\n\t{\n\t\tif (window.confirm(\"A Semantic Marker address is needed\\nWould you like a default Semantic Marker to get an idea on how it works?\"))\n\t\t{\n\t\t  document.getElementById(semanticMarkerURLId).value = defaultURL;\n\t\t  return true;\n\t\t}\n\t\telse\n\t\t{\n\t\t  return false;\n\t   }\n\t}\n\treturn true;\n}\n\n//! just web invokes the SemanticMarker\nfunction invokeSemanticMarker(smId)\n{\n\n   if (!checkSMAddress(smId))\n      return;\n\n   var webAddress = document.getElementById(smId).value;\n\n   if (window.confirm(\"Invoke: \" + webAddress + \"?\"))\n   {\n      // invoke this manually..\n      //window.open(webAddress, 'SemanticMarkerWindow');\n      window.open(webAddress);\n   }\n}\n\n</script>\n\n<script src=\"https://SemanticMarker.org/SemanticMarker.js?v=1\"></script>\n<script>\n//!create a semantic marker, and place at the idSM location\nfunction createSemanticMarkerPath(commandPath, avatarURL, idSM, idLabel, argCircularValueId)\n{\n   //var circular = document.getElementById('boolArgValueCircular').value==\"on\";\n   var circular = document.getElementById(argCircularValueId).value==\"on\";\n\n\t//avatar URL\n\t//var url = document.getElementById(idSemanticMarkerImageURL).value;\n\n\t//no avatarURL so use iDogWatch\n   if (!avatarURL || avatarURL.length==0)\n\t{\n\t\twindow.alert(\"A custom QRAvatarURL is needed to physically distinguish among your new Semantic Marker\\u2122 collection\");\n\t\treturn;\n\t  //hard wire for now..\n\t  //avatarURL = \"https://idogwatch.com/pettutor/iDogWatch.png\";\n\t}\n\n\t//empty the id first..\n\tvar previousSM = document.getElementById(idSM);\n\t//Seems that the call is adding a new SM instead of cleaning it up..\n\tdocument.getElementById(idSM).value = \"\";\n\t//document.getElementById(idSM).html = \"<p>x</p>\";\n\tdocument.getElementById(idSM).html = \"<p >x</p>\";\n\n   document.getElementById(idSM).innerHTML = \"\";\n\n   console.log(idSM);\n   console.log(document.getElementById(idSM));\n\n\t//! fix bug: https://itecnote.com/tecnote/javascript-qrcode-js-error-code-length-overflow-17161056/\n\tif (commandPath.length >= 192 && commandPath.length <= 220)\n\t{\n      commandPath = commandPath + \"&filler=\";\n\n      // pad to greater thatn 220\n\t\tvar len = commandPath.length;\n\t\twhile (commandPath.length <= 220)\n\t\t{\n\t\t   commandPath= commandPath + \"x\";\n\t\t}\n\t}\n\n\ttry\n\t{\n\t   getImage(avatarURL).then\n\t\t(\n\t\t   function (successurl)\n\t\t\t{\n\t  \n\t         var sm = new SemanticMarker(document.getElementById(idSM),\n\t            commandPath,\n\t\t\t      avatarURL,\n\t\t\t      circular);\n\t\t\t}).catch (function (errorurl)\n\t\t\t{\n \n\t\t      alert(\"Issue creating Avatar in Semantic Marker&reg; creation: \\n\" + errorurl + \"\\nPlease file bug report\");\n\t\t\t})\n\n\t}\n\tcatch (error)\n\t{\n\n\t\talert(\"Issue with Semantic Marker&reg; creation: \\n\" + error.message + \"\\nPlease file bug report\");\n\t}\n\n\n\t//innerHTMl needed .. since a <p>\n   document.getElementById(idLabel).innerHTML = commandPath;\n\n\n}\n\n//!create a semantic marker, and place at the idSM location\nfunction createSemanticMarkerPathId(commandPathId, urlId ,idSM, idLabel, argCircularValueId)\n{\n\tif (!checkSMAddress(commandPathId))\n\t   return;\n\n   var commandPath = document.getElementById(commandPathId).value;\n\n\t// check the QRAvatar for null, or provide a default. \n\tif (!checkQRAvatar(urlId))\n\t   return;\n\n\tvar url = document.getElementById(urlId).value;\n   if (!url || url.length==0)\n\t{\n\t   //url = \"https://SemanticMarker.org/images/SM-Circle-R.png\"; \n\t\twindow.alert(\"A custom AvatarURL is needed to physically distinguish your new Semantic Marker&reg; collection\");\n\t\treturn;\n\t}\n   createSemanticMarkerPath(commandPath, url ,idSM, idLabel, argCircularValueId);\n}\n\n//! grab the QRAvatar first..\n//! http://www.javascriptkit.com/javatutors/javascriptpromises.shtml\nfunction getImage(url)\n{\n    console.log(\"getImage(\" + url + \")\");\n    return new Promise(function(resolve, reject)\n\t {\n        var img = new Image()\n        img.onload = function()\n\t\t  {\n            console.log(\"image.onload\");\n            resolve(url)\n        }\n        img.onerror = function()\n\t\t  {\n            reject(url)\n        }\n        img.src = url\n    })\n}\n</script>\n\n<script>\nfunction contactInfo()\n{\n   if (true)\n   {\n     alert(\"Please email scott@konacurrents.com\\nOr visit KonaCurrents.com for more information.\");\n   }\n   else\n   {\n     var info1 = prompt(\"Please enter your email address and we will get back with you.\");\n     var info2 = prompt(\"Enter your Name or other information\\nAnd any interests you can specify.\");\n\n     alert(\"Will get back with you at email: \" + info1);\n   }\n}\n</script>\n\n</head>\n<script>\n\n//! check exists\nfunction existsDynamicQRCode(dynamicFactoryURL_Id, categoryId, nameId, uuidId, usernameId, passwordId)\n{\n    var dynamicFactoryURL = document.getElementById(dynamicFactoryURL_Id).value;\n    var category = document.getElementById(categoryId).value;\n    var name = document.getElementById(nameId).value;\n    var uuid = document.getElementById(uuidId).value;\n\n    var baseURL = dynamicFactoryURL;\n\t if (true)\n\t     baseURL += \"/exists/qr\";\n\n\t //! add username\n\t var username = document.getElementById(usernameId).value;\n\t var password = document.getElementById(passwordId).value;\n\t if (username.length == 0 || password.length == 0)\n\t {\n\t     alert(\"Username or password is empty\");\n\t\t  return;\n\t }\n\n\t baseURL += \"/\" + username;\n\t baseURL += \"/\" + password;\n\n    var command = baseURL + \"/\" + category + \"/\" + name + \"/\" + uuid;\n\n    //! make GET call\n    var xhttp = new XMLHttpRequest();\n  \n    xhttp.onreadystatechange = function() {\n      if (this.readyState == 4 && this.status == 200) {\n  \t\t   //!result is the USER object (not the SemanticMaker object)\n  \t\t   var jsonReply = this.responseText;\n\t\t   console.log(jsonReply);\n\n\n\t\t\t//! WORK ON THE REPLY >>>>\n  \n      }\n    };\n\n    xhttp.open(\"GET\",command, true);\n    xhttp.send();\n\n}\n\n//! 4.12.26 Laurence :-(\n//! escape the URL\nfunction escapeURL(URL)\n{\n\t //! https://stackoverflow.com/questions/42529509/stringbyaddingpercentescapesusingencoding-deprecated\n    //! https://stackoverflow.com/questions/32242712/replacement-for-stringbyaddingpercentescapesusingencoding-in-ios9\n\n\t var mappingURL = URL;\n\t //! change \"/\" to \"|\" for now..\n\t //mappingURL = mappingURL.replaceAll(\"/\",\"|\");\n\t mappingURL = mappingURL.replaceAll(\"/\",\"%7C\");\n\t mappingURL = mappingURL.replaceAll(\"#\",\"%23\");\n\t mappingURL = mappingURL.replaceAll(\"?\",\"%3F\");\n\t return mappingURL;\n}\n\n//! 4.11.26 \n//! register the Dynamic QR\n//! look at \"exists' .. before a register ...\nfunction registerDynamicQRCode(isRetrain, dynamicFactoryURL_Id, categoryId, nameId, uuidId, urlId, finalSMId, usernameId, passwordId, imageURLId)\n{\n    var dynamicFactoryURL = document.getElementById(dynamicFactoryURL_Id).value;\n    var category = document.getElementById(categoryId).value;\n\t category = stripSpaces(category);\n\t //! set back without spaces\n    document.getElementById(categoryId).value = category;\n\n    var name = document.getElementById(nameId).value;\n\t name = stripSpaces(name);\n\t //! set back without spaces\n    document.getElementById(nameId).value = name;\n\n    var uuid = document.getElementById(uuidId).value;\n\t uuid = stripSpaces(uuid);\n\t //! set back without spaces\n    document.getElementById(uuidId).value = uuid;\n\n    var URL = document.getElementById(urlId).value;\n\t URL = stripSpaces(URL);\n\t //! set back without spaces\n    document.getElementById(urlId).value = URL;\n\n    var imageURL= document.getElementById(imageURLId).value;\n\t imageURL = stripSpaces(imageURL);\n\t //! set back without spaces\n    document.getElementById(imageURLId).value = imageURL;\n\n\t var useImage = false;\n\t if (imageURL.length > 0)\n\t    useImage = true;\n\n\n\t //! URL is used to register ..\n\n\t //!TODO: get result from HTTP GET\n\n\t //! escape the 2\n\t var mappingURL = escapeURL(URL);\n\t var imageURL = escapeURL(imageURL);\n\n\t //! check empty\n\t if (!category.length || !name.length || !uuid.length || !URL.length)\n\t {\n       alert(\"Cannot have empty fields for cagetory, name, etc\");\n\t\t return;\n\t }\n\n\t //! use the factory URL. if an image then add train2/qr\n    var baseURL = dynamicFactoryURL;\n\t if (isRetrain)\n\t {\n\t     baseURL += \"/retrain/qr\";\n\t }\n\t else \n\t {\n\t     if (useImage)\n\t        baseURL += \"/train2/qr\";\n\t\t  else\n\t        baseURL += \"/train/qr\";\n\t }\n\n\t //! add username\n\t var username = document.getElementById(usernameId).value;\n\t username = stripSpaces(username);\n\n\t var password = document.getElementById(passwordId).value;\n\t password = stripSpaces(password);\n\n\t if (!username.length || !password.length)\n\t {\n\t     alert(\"Username or password is empty\");\n\t\t  return;\n\t }\n\t baseURL += \"/\" + username;\n\t baseURL += \"/\" + password;\n\n\n    var command = baseURL + \"/\" + category + \"/\" + name + \"/\" + uuid + \"/\" + mappingURL;\n\t if (useImage)\n\t     command += \"/\" + imageURL;\n\n\t //! the URL for the QR code..\n    var finalURL_lookup  = dynamicFactoryURL + \"/lookup/qr\"  + \"/\" + category + \"/\" + name + \"/\" + uuid ;\n    var finalURL_run = dynamicFactoryURL + \"/qr\"  + \"/\" + category + \"/\" + name + \"/\" + uuid ;\n\n  \t //! put result here..\n    document.getElementById(finalSMId).value = finalURL_run;\n  \n  \n    //! make GET call\n    var xhttp = new XMLHttpRequest();\n  \n    xhttp.onreadystatechange = function() {\n      if (this.readyState == 4 && this.status == 200) {\n  \t\t   //!result is the USER object (not the SemanticMaker object)\n  \t\t   var jsonReply = this.responseText;\n\t\t   console.log(jsonReply);\n  //! create after it comes back...\n  createSemanticMarkerPathId('_dynamic_semanticMarkerURL','_imageURL','_finalSemanticMarkerImage','semanticMarkerURLId','_boolArgValueCircular');\n\n      }\n    };\n\n    xhttp.open(\"GET\",command, true);\n    xhttp.send();\n\n}\n\n//! 4.12.26 create a new user \nfunction createNewUser(usernameId, passwordId, tokenId)\n{\n   \n\t var username = document.getElementById(usernameId).value;\n\t username = stripSpaces(username);\n\n\t var password = document.getElementById(passwordId).value;\n\t password = stripSpaces(password );\n\n\t var token = document.getElementById(tokenId).value;\n\t token = stripSpaces(token);\n\n\t if (!username.length || !password.length || !token.length)\n\t {\n        alert(\"Token, Username, Password cannot be empty\");\n\t\t  return;\n\t }\n\n    var baseURL = dynamicFactoryURL;\n\t baseURL += \"/createNewuser/qr\";\n\n    var command = baseURL + \"/\" + username+ \"/\" + password+ \"/\" + token;\n  \n    //! make GET call\n    var xhttp = new XMLHttpRequest();\n  \n    xhttp.onreadystatechange = function() {\n      if (this.readyState == 4 && this.status == 200) {\n  \t\t   //!result is the USER object (not the SemanticMaker object)\n  \t\t   var jsonReply = this.responseText;\n\t\t   console.log(jsonReply);\n  \n      }\n    };\n\n    xhttp.open(\"GET\",command, true);\n    xhttp.send();\n\n}\n</script>\n\n<!--   BODY --->\n<body>\n\n<h1>Kona Currents, LLC presents </h1>\n<h1><a href=\"images/SemanticMarkerRegisteredTrademark.png\"><span class=\"highlight\">Semantic Marker&reg;</span></a> </h1>\n\n<!-- CREATE THE Dynamic QR -->\n<!----------------------------------------------->\n<!-- ------------ Dynamic QR Code Factory -->\n<!--CONTACT -->\n<h1>Dynamic QRCode Factory</h1>\n<p class=\"sansserif\">\n<b>Creating a Dynamic QR Code, and in particular a \"Factory\" of QR Codes. \n<br>\n<!--   Dynamic QRCode Factory URL -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('URL Of Dynamic QRCode Factory')\" />\n   <span class=\"tooltiptext\">\n\tURL Of Dynamic QRCode Factory\n   </span>\n</div>\n<label class=\"label\">Dynamic QRCode Factory URL\n</label>\n<input name=\"_DynamicQRCodeFactoryURL\" id=\"_DynamicQRCodeFactoryURL\" size=\"84\" value={{jsonformat.hostnameURL}} readonly type=\"text\">\n\n\n<br>\n<br>\n<!--   TOKEN . -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Token for creating a new USER')\" />\n   <span class=\"tooltiptext\">\nToken for creating a new USE (_Token)\n   </span>\n</div>\n<label class=\"label\">Token for creating new user\n</label>\n<input name=\"_Token\" id=\"_Token\" size=\"40\" type=\"password\" value=\"\">\n<br>\n\n<!--   Username . -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Username of owner. Only needed when Registering QR Code')\" />\n   <span class=\"tooltiptext\">\nUsername of owner (_Username)\n   </span>\n</div>\n<label class=\"label\">Username of Owner \n</label>\n<input name=\"_Username\" id=\"_Username\" size=\"40\" type=\"text\" value=\"test\">\n<br>\n<!--   Password. -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Password of owner. Only needed when Registering QR Code')\" />\n   <span class=\"tooltiptext\">\nPassword of owner (_Password)\n   </span>\n</div>\n<label class=\"label\">Password of Owner \n</label>\n<input name=\"_Password\" id=\"_Password\" size=\"40\" value=\"test\" type=\"password\">\n\n<br>\n<!--   Password. -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Create a new user with a valid Token')\" />\n   <span class=\"tooltiptext\">\nCreate a new user with a valid Token \n   </span>\n</div>\n<input type=\"button\" class=\"button\" id=\"createSMAny\" value=\"Create New User\" \nonClick=\"createNewUser('_Username','_Password','_Token') \" />\n\n<br>\n<!--  WHERE the Semantic Marker Image is shown --->\n<p class=\"sansserif\">\n<b>To create a Dynamic QRCode. Enter the fields Category, Name, UUID - and include a URL of the link, and a URL of a QRAvatar to embed in the image\n<p style=\"margin-left:100px; margin-right:50px;\" id=\"_finalSemanticMarkerImage\"></p>\n<br>\n\n<!--   Original URL for the DYnamic QR to go to .. -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Semantic Marker&reg; (_finalURL) ')\" />\n   <span class=\"tooltiptext\">\nSemantic Marker&reg; (_finalURL)\n   </span>\n</div>\n<label class=\"label\">URL of Final Landing Place\n</label>\n<input name=\"_finalURL\" id=\"_finalURL\" size=\"84\" type=\"text\" value=\"https://SemanticMarker.org\">\n<br>\n<br>\n\n\n<!--   see if it exists ... then train it... -->\n<!--  Final URL Address -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('SMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices')\" />\n   <span class=\"tooltiptext\">\nSMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices\n   </span>\n</div>\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"copy\" \n\tonClick=\"alert('SMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices')\" />\n   <span class=\"tooltiptext\">\nSMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices\n   </span>\n</div>\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"lookup\" \n\tonClick=\"var runURL = document.getElementById('_dynamic_semanticMarkerURL').value; runURL = runURL.replace('/qr','/lookup/qr'); window.open(runURL,'_blank')\" />\n   <span class=\"tooltiptext\">\nSMART - Semantic Marker&reg; Augmented Reality of Things to run your IoT Devices\n   </span>\n</div>\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"run\" \n\tonClick=\"window.open(document.getElementById('_dynamic_semanticMarkerURL').value)\" />\n   <span class=\"tooltiptext\">\nYour QRCode  Semantic Marker&reg; (_dynamic_semanticMarkerURL)\n   </span>\n</div>\n<label class=\"label\">SMART Semantic Marker&reg; Address\n</label>\n<input name=\"_dynamic_semanticMarkerURL\" id=\"_dynamic_semanticMarkerURL\" size=\"84\" readonly type=\"text\">\n<br>\n<br>\n<!--   Show Semantic Marker--->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Shows the Semantic Marker&reg; created')\" />\n   <span class=\"tooltiptext\">\nShows the Semantic Marker&reg; created\n   </span>\n</div>\n<input type=\"button\" class=\"button\" id=\"createSMAny\" value=\"Show Semantic Marker&reg;\" \nonClick=\"createSemanticMarkerPathId('_dynamic_semanticMarkerURL','_imageURL','_finalSemanticMarkerImage','semanticMarkerURLId','_boolArgValueCircular')\" />\n<br><br>\n\n<!--   Create Static QR --->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Creates a Static QRCode using the Final Landing Place')\" />\n   <span class=\"tooltiptext\">\nCreates a Static QRCode using the Final Landing Place\n   </span>\n</div>\n<input type=\"button\" class=\"button\" id=\"createSMAny\" value=\"Create Static Semantic Marker&reg;\" \nonClick=\"document.getElementById('_dynamic_semanticMarkerURL').value = document.getElementById('_finalURL').value;createSemanticMarkerPathId('_dynamic_semanticMarkerURL','_imageURL','_finalSemanticMarkerImage','semanticMarkerURLId','_boolArgValueCircular')\" />\n\n<br>\n<br>\n<!--  Category -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Category of your Dynamic QR Code')\" />\n   <span class=\"tooltiptext\">\nCategory of your Dynamic QR Code (_dynamicQR_Category)\n   </span>\n</div>\n<label class=\"label\">Category\n</label>\n<input name=\"_dynamicQR_Category\" id=\"_dynamicQR_Category\" size=\"34\" type=\"text\" value=\"cat\">\n<br>\n\n<!--  Name -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Name of your Dynamic QR Code')\" />\n   <span class=\"tooltiptext\">\nName of your Dynamic QR Code (_dynamicQR_Name)\n   </span>\n</div>\n<label class=\"label\">Name \n</label>\n<input name=\"_dynamicQR_Name\" id=\"_dynamicQR_Name\" size=\"34\" type=\"text\" value=\"Name\">\n\n<br>\n<!--  UUID-->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('UUID of your Dynamic QR Code')\" />\n   <span class=\"tooltiptext\">\nUUID of your Dynamic QR Code (_dynamicQR_UUID)\n   </span>\n</div>\n<label class=\"label\">UUID\n</label>\n<input name=\"_dynamicQR_UUID\" id=\"_dynamicQR_UUID\" size=\"34\" type=\"text\" value=\"UUID\">\n\n<br>\n<!--   QRAvatar URL for the DYnamic QR to go to .. -->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('URL for your QRAvatar')\" />\n   <span class=\"tooltiptext\">\nURL for your QRAvatar (_imageURL)\n   </span>\n</div>\n<label class=\"label\">URL of QRAvatar Image\n<input name=\"_imageURL\" id=\"_imageURL\" size=\"84\" type=\"text\" value=\"https://KnowledgeShark.me/images/balloonLabyrinth.jpg\">\n<br>\n<div class=\"tooltip\">\n<input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" onClick=\"alert('Avatar URL customizes your Semantic Marker&reg; \\nhelping you distinguish between your future collection')\" />\n   <span class=\"tooltiptext\">\nAvatar URL customizes your Semantic Marker (_boolArgValueCircular)\n   </span>\n</div>\n<label class=\"label\" for=\"_boolArgValueCircular\">Photo Avatar Image Kind:</label>\n<select class=\"select label\"  name=\"_boolArgValueCircular\" id=\"_boolArgValueCircular\">\n  <option value=\"on\">Circular</option>\n  <option value=\"off\">Square</option>\n</select>\n\n<br>\n<br>\n<!--   REGISTRY QR --->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Registers a Dynamic QRCode')\" />\n   <span class=\"tooltiptext\">\nRegisters a Dynamic QRCode\n   </span>\n</div>\n<input type=\"button\" class=\"button\" id=\"createSMAny\" value=\"Register Dynamic QRCode\" \nonClick=\"registerDynamicQRCode(false, '_DynamicQRCodeFactoryURL' ,'_dynamicQR_Category' ,'_dynamicQR_Name' ,'_dynamicQR_UUID' ,'_finalURL' ,'_dynamic_semanticMarkerURL', '_Username', '_Password', '_imageURL'); \"/>\n\n<br>\n<br>\n<!--   Retrain QR --->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Retrains a Dynamic QRCode')\" />\n   <span class=\"tooltiptext\">\nRetrains a Dynamic QRCode\n   </span>\n</div>\n<input type=\"button\" class=\"button\" id=\"createSMAny\" value=\"Retrain Dynamic QRCode\" \nonClick=\"registerDynamicQRCode(true, '_DynamicQRCodeFactoryURL' ,'_dynamicQR_Category' ,'_dynamicQR_Name' ,'_dynamicQR_UUID' ,'_finalURL' ,'_dynamic_semanticMarkerURL', '_Username', '_Password', '_imageURL'); \"/> \n\n<br>\n<br>\n<!--   Exists QR --->\n<div class=\"tooltip\">\n   <input type=\"button\" class=\"HELPButton\" id=\"HELPButton\" value=\"info\" \n\tonClick=\"alert('Checks if QR Code exists')\" />\n   <span class=\"tooltiptext\">\nChecks if QR Code exists\n   </span>\n</div>\n<input type=\"button\" class=\"button\" id=\"createSMAny\" value=\"Exists Dynamic QRCode\" \nonClick=\"existsDynamicQRCode('_DynamicQRCodeFactoryURL' ,'_dynamicQR_Category' ,'_dynamicQR_Name' ,'_dynamicQR_UUID', '_Username', '_Password') \" />\n\n<br><br>\n\n</div>\n\n\n<!----------------------------------------------->\n\n<!-- ---------------------------------------------------------   -->\n<!--CONTACT -->\n<button class=\"collapsible\">Contact Kona Currents, LLC</button>\n<div class=\"content\">\n<img class=\"TextWrap\" src=\"https://www.whiteriverRanch.com/i-Pp6TCWT/0/bb2d93a6/Th/i-Pp6TCWT-Th.png\" width=\"280\">\n<p class=\"sansserif\">\n<b>Kona Currents, LLC</b> offers services for \nSoftware Design, Development and Computer Science education showcasing the potential of new software architecture formalisms especially suited to Internet of Things (IoT) and our <b>Semantic Marker&reg;</b>.\n\n<li class=\"sansserif\">Read about our <a class=\"ex2\" \nhref=\"https://knowledgeshark.medium.com/put-the-cable-candle-back-a313ef74ce68\">IoT Vision</a>\n\n<p class=\"sansserif\">\n<input type=\"button\" class=\"button\" value=\"Contact Kona Currents, LLC\" onClick=\"contactInfo()\" />\n<table>\n<tr>\n\n<td class=\"sansserif\">\n<a class=\"ex2\" href=\"https://KonaCurrents.com\" target=_blank\"><img src=\"https://KnowledgeShark.me/images/KCLabelSkinny.png\" width=\"160\">KonaCurrents, LLC</a>\n</td>\n\n<td class=\"sansserif\"> \n  <a class=\"ex2\" href=\"https://github.com/konacurrents\" target=_blank><img class=\"TextWrap\" src=\"https://KonaCurrents.com/images/Github.png\" width=\"50\">Github</a>\n  </td>\n\n<td class=\"sansserif\"> \n  <a class=\"ex2\" href=\"https://m.facebook.com/company/KonaCurrentsLLC\" target=_blank><img src=\"https://konacurrents.com/images/flogo.png\" width=\"40\"> KonaCurrents</a>\n  </td>\n\n<td class=\"sansserif\">\n   <a class=\"ex2\" href=\"https://www.linkedin.com/company/kona-currents-llc\" target=_blank><img src=\"https://Konacurrents.com/images/Logo-21px-R.png\"> (Company)</a>\n\t</td>\n\n<td class=\"sansserif\">\n   <a class=\"ex2\" href=\"https://www.linkedin.com/in/smoody\" target=_blank><img src=\"https://Konacurrents.com/images/Logo-21px-R.png\">(CTO's profile)</a>\n\t</td>\n\n\n<td class=\"sansserif\">\nemail: <a class=\"ex2\" href=\"mailto:scott@KonaCurrents.com?Subject=RequestInfo\" target=_blank>scott@KonaCurrents.com</a>\n</td>\n</tr>\n</table>\n\n\n</div>\n\n\n<!----------------------------------------------->\n<!-- END of user content -->\n<script>\nfunction toggleCol(whichElement, num)\n{\n// try to have the first one open..\n    whichElement.classList.toggle(\"active\");\n    var contentX = whichElement.nextElementSibling;\n    if (contentX.style.maxHeight)\n    {\n        contentX.style.maxHeight = null;\n    } \n    else \n    {\n        contentX.style.maxHeight = contentX.scrollHeight + \"px\";\n    } \n\t if (num == -1)\n\t {\n\t     console.log(\"sc = \" + contentX.scrollHeight);\n\t     var x = contentX.scrollHeight + 50;\n        contentX.style.maxHeight = x + \"px\";\n\t }\n\n\t console.log(\"Max = \" + contentX.style.maxHeight);\n}\n//! @see https://stackoverflow.com/questions/68425366/toggle-active-class-to-buttons-when-clicked\nvar coll = document.getElementsByClassName(\"collapsible\");\nvar i;\n\nfor (i = 0; i < coll.length; i++) \n{\n  coll[i].addEventListener(\"click\", function() \n  {\n    toggleCol(this, i);\n  });\n}\n\n// try to have the first one open..\n<!--  toggleCol(coll[0], -1); --->\n toggleCol(coll[1], -1);\n\n</script>\n<br>\n<br>\n<a href=\"https://KnowledgeShark.me/images/KCNewLabel600-small.png\"><img src=\"https://KnowledgeShark.me/images/KCNewLabel600-small.png\" width=\"800\"></a>\n<p class=\"sansserif\">&#169; 2026 <a class=\"ex3\" href=\"https://KonaCurrents.com\">KonaCurrents.com</a>\n<i class=\"sansserif\">and powered by <a class=\"ex3\" href=\"https://KnowledgeShark.me\" target=_blank>KnowledgeShark.me</a></i>\n<br>\nv4.14.26\nv4.13.26\nv4.12.26 Laurence \nv4.11.26\nv4.2.26\nv13.2.24\n\n","output":"str","x":1010,"y":820,"wires":[["4c5862d80c93726c"]]},{"id":"4c5862d80c93726c","type":"http response","z":"65eb40620178e0aa","name":"","statusCode":"","headers":{},"x":1190,"y":780,"wires":[]},{"id":"32c794870fdbc27c","type":"comment","z":"65eb40620178e0aa","name":"Mustach.html","info":"","x":1270,"y":400,"wires":[]},{"id":"02edf81b5d8c4411","type":"comment","z":"65eb40620178e0aa","name":"index.html","info":"","x":880,"y":680,"wires":[]},{"id":"61f7702e604665eb","type":"http in","z":"65eb40620178e0aa","name":"","url":"/registerDynamicQRFactory/:ROOT","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":320,"y":1440,"wires":[[]]},{"id":"b894b5d50a39c8e5","type":"inject","z":"65eb40620178e0aa","name":"Set HOSTNAME ***** MUST BE EDITED","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":240,"y":100,"wires":[["3f67cefd0d58ef2b"]]},{"id":"3f67cefd0d58ef2b","type":"change","z":"65eb40620178e0aa","name":"set _hostnameURL","rules":[{"t":"set","p":"_hostnameURL","pt":"flow","to":"http://localhost:1880","tot":"str"},{"t":"set","p":"hostnameURL","pt":"global","to":"http://localhost:1880","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":100,"wires":[["a09049b3a28b48db"]]},{"id":"a09049b3a28b48db","type":"debug","z":"65eb40620178e0aa","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":100,"wires":[]},{"id":"b6023db3cfd9f611","type":"function","z":"65eb40620178e0aa","name":"Build Web Page for Lookup","func":"\n\nvar dynamicFactoryURL = flow.get(\"_hostnameURL\");\n\n\nmsg.jsonformat = {\n    \"hostnameURL\": dynamicFactoryURL\n};\n\n// console.log(\"MSG PAYLOAD = \");\n// console.log(msg);\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":760,"wires":[["49d444b22c989ec3"]]},{"id":"dcf86da6a677b3e7","type":"comment","z":"65eb40620178e0aa","name":"**** Set the URL of this nodered ****","info":"It can be HOST:1880, or maybe HOST/bot using a http rewrite","x":500,"y":60,"wires":[]},{"id":"47aa97d49caa59d4","type":"comment","z":"65eb40620178e0aa","name":"VERSION: 1.1  (4.14.26)","info":"","x":180,"y":40,"wires":[]},{"id":"34c088c7be8935cc","type":"function","z":"65eb40620178e0aa","name":"Merge global.qrJSON","func":"/* msg.datapath  = \nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\n\nmsg.payload == full JSON object  (but not KEY)\n*/\nvar key = msg.datapath + \"_\" + msg.req.params.CATEGORY;\n;\nvar objValue = msg.payload;\n\nconsole.log(\"KEY = \" + key);\nconsole.log(\"OBJval = \" + JSON.stringify(objValue));\n\n//! grab DB the full object\nlet values = global.get(\"qrJSON\") || {};\nconsole.log(\"KEYS = \" + Object.keys(values));\n\nconst mergedJSON = Object.assign({}, objValue, values[key]);\n\n//! now we are just updating that obj to the payload\nvalues[key] = mergedJSON;\n\n//Object.assign( values, msg.payload)\nglobal.set(\"qrJSON\", values);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":420,"wires":[[]]},{"id":"62828b5a6b343cd3","type":"function","z":"65eb40620178e0aa","name":"JSON for datapath","func":"var object = {};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name);\n//msg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/mapping\";\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\n\nconsole.log(msg.datapath);\n\n\n/* msg.datapath  = \nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\n\nmsg.payload == full JSON object  (but not KEY)\n*/\n//var key = msg.datapath;\nvar key = msg.datapath + \"_\" + msg.req.params.CATEGORY;\n\n\nconsole.log(\"KEY = \" + key);\n\n//! grab DB the full object\nlet values = global.get(\"qrJSON\") || {};\n//! get this one.. based on \nvar objValue = values[key];\nconsole.log(\"objValue = \" + JSON.stringify(objValue));\n\n//! use the full JSON as the payload\nmsg.payload = objValue;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":600,"wires":[["82adea9301a0dac8"]]},{"id":"dadc322e6146dc06","type":"function","z":"65eb40620178e0aa","name":"JSON for datapath","func":"var object = {};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name);\n//msg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/mapping\";\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\nmsg.datapath = msg.datapath + \"_\" + msg.req.params.CATEGORY;\n\nconsole.log(msg.datapath);\n\n\n/* msg.datapath  = \nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\n\nmsg.payload == full JSON object  (but not KEY)\n*/\nvar key = msg.datapath;\n\nconsole.log(\"KEY = \" + key);\n\n//! grab DB the full object\nlet values = global.get(\"qrJSON\") || {};\n//! get this one.. based on \nvar objValue = values[key];\nconsole.log(\"objValue = \" + JSON.stringify(objValue));\n\n//! use the full JSON as the payload\nmsg.payload = objValue;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":780,"wires":[["564d24245f4aca4b"]]},{"id":"564d24245f4aca4b","type":"function","z":"65eb40620178e0aa","name":"count++ and access","func":"var object ={};\nvar count = msg.payload.count;\nif (msg.error)\n{\n    console.log(\"New Countr\");\n    count = 0;\n}\n\ncount++;\n\nconsole.log(\"New countr \" + count);\n\n//!update count\nmsg.payload.count = count;\n\n//console.log(msg.req);\nconsole.log(msg.req.connection.remoteAddress);\n\n//! update access\nvar access = { \"date\": new Date(),\n    \"ip\": msg.req.ip};\n\nmsg.payload.access.push(access);\n\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\no_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name);\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\nconsole.log(msg.datapath);\nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":840,"wires":[["736a7b1305dd1e1f"]]},{"id":"736a7b1305dd1e1f","type":"function","z":"65eb40620178e0aa","name":"update JSON for datapath","func":"var object = {};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name);\n//msg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/mapping\";\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\nmsg.datapath = msg.datapath + \"_\" + msg.req.params.CATEGORY;\n\nconsole.log(msg.datapath);\n\n\n/* msg.datapath  = \nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\n\nmsg.payload == full JSON object  (but not KEY)\n*/\nvar key = msg.datapath;\n\nconsole.log(\"KEY = \" + key);\n\n//! grab DB the full object\nlet values = global.get(\"qrJSON\") || {};\n//! get this one.. based on \nvar objValue = msg.payload;\nconsole.log(\"objValue = \" + JSON.stringify(objValue));\n\n//! use the full JSON as the payload\n\nvalues[key] =  objValue;\nglobal.set(\"qrJSON\", values);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":900,"wires":[[]]},{"id":"f133f5264bb19cde","type":"function","z":"65eb40620178e0aa","name":"JSON for datapath","func":"var object = {};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name);\n//msg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/mapping\";\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\n\nconsole.log(msg.datapath);\n\n\n/* msg.datapath  = \nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\n\nmsg.payload == full JSON object  (but not KEY)\n*/\n//var key = msg.datapath;\nvar key = msg.datapath + \"_\" + msg.req.params.CATEGORY;\n\n\nconsole.log(\"KEY = \" + key);\n\n//! grab DB the full object\nlet values = global.get(\"qrJSON\") || {};\n//! get this one.. based on \nvar objValue = values[key];\nconsole.log(\"objValue = \" + JSON.stringify(objValue));\n\n//! use the full JSON as the payload\nmsg.payload = objValue;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":280,"wires":[["24b310ad4a500048"]]},{"id":"df22b1ae715a8596","type":"function","z":"65eb40620178e0aa","name":"JSON for datapath","func":"var object = {};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name);\n//msg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/mapping\";\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\nmsg.datapath = msg.datapath + \"_\" + msg.req.params.CATEGORY;\n\nconsole.log(msg.datapath);\n\n\n/* msg.datapath  = \nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\n\nmsg.payload == full JSON object  (but not KEY)\n*/\nvar key = msg.datapath;\n\nconsole.log(\"KEY = \" + key);\n\n//! grab DB the full object\nlet values = global.get(\"qrJSON\") || {};\n//! get this one.. based on \nvar objValue = values[key];\nconsole.log(\"objValue = \" + JSON.stringify(objValue));\n\n//! use the full JSON as the payload\nmsg.payload = objValue;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1160,"wires":[["b11f94d87143a7c9"]]},{"id":"b11f94d87143a7c9","type":"function","z":"65eb40620178e0aa","name":"update mapping .. and date .. FULL definition","func":"var object ={};\n//see https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_replace2\nvar o_cat = msg.req.params.CATEGORY;\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_mapping  = msg.req.params.MAPPING;\n\nvar o_imageURL = msg.req.params.IMAGEURL;\no_imageURL = o_imageURL.replace(/\\|/g, \"/\");\n\n\n\nconsole.log(\" **** Retraining ****\");\n\n\n//o_cat = o_cat.toLowerCase();\n// until can get escapes or something working..\n// might have to be special characters, that are replaced..\n//Special Character: |  ==> |\n// ALL modifying the /full sub piece\no_mapping = o_mapping.replace(/\\|/g,\"/\");\nvar old = msg.payload.mapping;\nconsole.log(\"Replacing '\" + msg.payload.mapping + \"' - with '\" + o_mapping + \"'\");\nmsg.payload.ownerIP = msg.req.ip;\nmsg.payload.date = new Date();\nmsg.payload.mapping = o_mapping;\n\nvar oldImageURL = msg.payload.imageURL;\nmsg.payload.imageURL = o_imageURL;\n\n\nconsole.log(o_mapping);\n\n//var dynamicFactoryURL = \"http://localhost:1880\";\nvar dynamicFactoryURL = flow.get(\"_hostnameURL\"); \n\n//! ***** SET THIS TO YOUR FACTORY URL to node-red service\n//! no lowercase ..\nvar finalURL_run = dynamicFactoryURL + \"/qr\" + \"/\" + o_cat + \"/\" + o_name + \"/\" + o_uuid;\nmsg.payload.qrcode = finalURL_run;\n\n//! update access\nvar access = {\n    \"old\": old,\n    \"new\":o_mapping,\n    \"date\": new Date(),\n    \"ip\": msg.req.ip\n};\nif (o_imageURL != oldImageURL)\n{\n    console.log(\"Replace Image too: \" + oldImageURL);\n    access.oldImageURL = oldImageURL;\n}\n//! add to array of access (even by ourself)\nmsg.payload.access.push(access);\n\n\nconsole.log(\"Updating payload: \" + msg.payload);\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\nmsg.datapath = msg.datapath + \"_\" + msg.req.params.CATEGORY;\n\nconsole.log(\"Datapath = \" + msg.datapath);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1160,"wires":[["96d0fdce6d15823f"]]},{"id":"96d0fdce6d15823f","type":"function","z":"65eb40620178e0aa","name":"update JSON for datapath","func":"var object = {};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name);\n//msg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/mapping\";\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\nmsg.datapath = msg.datapath + \"_\" + msg.req.params.CATEGORY;\n\nconsole.log(msg.datapath);\n\n\n/* msg.datapath  = \nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\n\nmsg.payload == full JSON object  (but not KEY)\n*/\nvar key = msg.datapath;\n\nconsole.log(\"KEY = \" + key);\n\n//! grab DB the full object\nlet values = global.get(\"qrJSON\") || {};\n//! get this one.. based on \nvar objValue = msg.payload;\nconsole.log(\"objValue = \" + JSON.stringify(objValue));\n\n//! use the full JSON as the payload\n\nvalues[key] =  objValue;\nglobal.set(\"qrJSON\", values);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1160,"wires":[["b18ba83350d69826"]]},{"id":"b18ba83350d69826","type":"http response","z":"65eb40620178e0aa","name":"","statusCode":"","headers":{},"x":1067.6475830078125,"y":1217.7174072265625,"wires":[]},{"id":"05e739b9ca39d985","type":"function","z":"65eb40620178e0aa","name":"JSON for datapath","func":"var object = {};\n\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_cat = msg.req.params.CATEGORY;\n//o_cat = o_cat.toLowerCase();\nconsole.log(\"cat=\" + o_cat + \" uuid=\" + o_uuid + \" name=\" + o_name);\n//msg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/mapping\";\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\";\nmsg.datapath = msg.datapath + \"_\" + msg.req.params.CATEGORY;\n\nconsole.log(msg.datapath);\n\n\n/* msg.datapath  = \nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\n\nmsg.payload == full JSON object  (but not KEY)\n*/\nvar key = msg.datapath;\n\nconsole.log(\"KEY = \" + key);\n\n//! grab DB the full object\nlet values = global.get(\"qrJSON\") || {};\n//! get this one.. based on \nvar objValue = values[key];\nconsole.log(\"objValue = \" + JSON.stringify(objValue));\n\n//! use the full JSON as the payload\nmsg.payload = objValue;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":620,"wires":[["08567da25c6a2c04"]]},{"id":"e1f109ca6c4f4806","type":"function","z":"65eb40620178e0aa","name":"FULL definition","func":"var object ={};\n//see https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_replace2\nvar o_cat = msg.req.params.CATEGORY;\nvar o_uuid = msg.req.params.UUID;\nvar o_name = msg.req.params.NAME;\nvar o_mapping  = msg.req.params.MAPPING;\n//o_cat = o_cat.toLowerCase();\n// until can get escapes or something working..\n// might have to be special characters, that are replaced..\n//Special Character: |  ==> |\n\no_mapping = o_mapping.replace(/\\|/g,\"/\");\nmsg.payload=  o_mapping;\nconsole.log(o_mapping);\n\nconsole.log(msg.req.ip);\n//var dynamicFactoryURL = \"http://localhost:1880\";\nvar dynamicFactoryURL = flow.get(\"_hostnameURL\"); \n//\n//! ***** SET THIS TO YOUR FACTORY URL to node-red service\n//! no lowercase ..\nvar finalURL_run = dynamicFactoryURL + \"/qr\" + \"/\" + o_cat + \"/\" + o_name + \"/\" + o_uuid;\n\nmsg.payload=  {\n\"category\":o_cat,\n\"uuid\":o_uuid,\n\"name\":o_name,\n\"mapping\":o_mapping,\n\"date\":new Date(),\n\"ownerIP\":msg.req.ip,\n\n\"qrcode\": finalURL_run,\n\n\"count\":\"1\",\n\"access\":[\n    {\"date\":new Date(),\n    \"ip\":msg.req.ip\n    }\n    ]\n};\nconsole.log(msg.payload);\nmsg.datapath = \"/\" + o_name + \"_\" + o_uuid + \"/full\" ;\nconsole.log(msg.datapath);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":400,"wires":[["34c088c7be8935cc"]]},{"id":"de42d2353f1e2273","type":"http in","z":"65eb40620178e0aa","name":"","url":"/train/qr/:username/:password/:CATEGORY/:NAME/:UUID/:MAPPING","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":280,"y":340,"wires":[["82596fa031717009","e1f109ca6c4f4806"]]},{"id":"777d8d62682940f7","type":"comment","z":"65eb40620178e0aa","name":"Redirect Webpage","info":"","x":610,"y":560,"wires":[]}]